@model List<PortfolioProjectNight.Models.Profile>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
}
<div class="alert alert-info"><strong>Profil Bilgileri Sayfası</strong></div>
<table class="table table-bordered">
    <tr style="background-color:cadetblue; color:white;">
        <th>#</th>
        <th>DoğumTarihi</th>
        <th>Email</th>
        <th>Telefon</th>
        <th>Github Linki</th>
        <th>Adres</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Resim Yolu</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.ProfileId</th>
            <td>@item.Birthdate</td>
            <td>@item.Email</td>
            <td>@item.Phone</td>
            <td>@item.Github</td>
            <td>@item.Address</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.ImageUrl</td>
            <td><a href="/Profile/UpdateProfile/@item.ProfileId" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>


