@model PortfolioProjectNight.Models.Testimonial
@{
    ViewBag.Title = "UpdateTestimonial";
    Layout = "~/Views/Admin/Index.cshtml";
}


<h2 class="mb-4">Referans Güncelleme Sayfası</h2>
<form method="post">
    @Html.HiddenFor(s => s.TestimonialID)
    <label>Ad Soyad</label>
    @Html.TextBoxFor(s => s.NameSurname, new { @class = "form-control" })
    <br />
    <label>Alt Başlık</label>
    @Html.TextBoxFor(s => s.SubTitle, new { @class = "form-control" })
    <br />
    <label>Yorum</label>
    @Html.TextAreaFor(s => s.Comment, new { @class = "form-control" })
    <br />
    <label>ImageUrl</label>
    @Html.TextBoxFor(s=>s.ImageUrl, new {@class="form-control"})
    <br />
    <button class="btn btn-success">Referans Güncelle</button>
</form>

