@model PortfolioProjectNight.Models.Trainee
@{
    ViewBag.Title = "UpdateTrainee";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Yeni Staj Güncelleme Sayfası</h2>
<form method="post">
    @Html.HiddenFor(s => s.TraineeId)
    <label>Staj Başlık</label>
    @Html.TextBoxFor(s => s.Title, new { @class = "form-control" })
    <br />
    <label>Staj Alt Başlık</label>
    @Html.TextBoxFor(s => s.SubTitle, new { @class = "form-control" })
    <br />
    <label>Staj Açıklama</label>
    @Html.TextAreaFor(s => s.Description, new { @class = "form-control" })
    <br />
    <label>Staj Tarih Aralığı</label>
    @Html.TextAreaFor(s => s.DateRange, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Stajı Güncelle</button>
</form>

