@model PortfolioProjectNight.Models.Trainee
@{
    ViewBag.Title = "UpdateTrainee";
    Layout = "~/Views/Admin/Index.cshtml";
}
<div class="alert alert-warning"><strong>Staj Güncelleme Sayfası</strong></div>
<form method="post">
    @Html.HiddenFor(s => s.TraineeId)
    <label>Staj Başlık</label>
    @Html.TextBoxFor(s => s.Title, new { @class = "form-control" })
    <br />
    <label>Staj Alt Başlık</label>
    @Html.TextBoxFor(s => s.SubTitle, new { @class = "form-control" })
    <br />
    <label>Staj Açıklama</label>
    @Html.TextAreaFor(s => s.Description, new { @class = "form-control" })
    <br />
    <label>Staj Tarih Aralığı</label>
    @Html.TextAreaFor(s => s.DateRange, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-success">Staj Güncelle</button>
</form>

